<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Probabilidad de Alcoholismo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section>
        <h2>Formulario de probabilidad de Alcohol </h2>
   
    <form action="/predict"  method="post">

        <label for="school">Escuela (0: GP, 1: MS):</label>
        <input type="number" id="school" name="school" required><br><br>
        
        <label for="sex">Sexo (0: F, 1: M):</label>
        <input type="number" id="sex" name="sex" required><br>
        
        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" required><br>
        
        <label for="address">Dirección (0: Urbana, 1: Rural):</label>
        <input type="number" id="address" name="address" required><br>
        
        <label for="famsize">Tamaño de la Familia (0: ≤3 miembros, 1: >3 miembros):</label>
        <input type="number" id="famsize" name="famsize" required><br>
        
        <label for="Pstatus">Estado Parental (0: Juntos, 1: Separados):</label>
        <input type="number" id="Pstatus" name="Pstatus" required><br>
        
        <label for="Medu">Educación de la Madre (0-4):</label>
        <input type="number" id="Medu" name="Medu" required><br>
        
        <label for="Fedu">Educación del Padre (0-4):</label>
        <input type="number" id="Fedu" name="Fedu" required><br>
        
        <label for="Mjob">Trabajo de la Madre (0: Teacher, 1: Health, 2: Services, 3: At Home, 4: Other):</label>
        <input type="number" id="Mjob" name="Mjob" required><br>
        
        <label for="Fjob">Trabajo del Padre (0: Teacher, 1: Health, 2: Services, 3: At Home, 4: Other):</label>
        <input type="number" id="Fjob" name="Fjob" required><br>
        
        <label for="reason">Razón para Elegir la Escuela (0: Cerca de casa, 1: Reputación de la escuela, 2: Preferencia del curso, 3: Otro):</label>
        <input type="number" id="reason" name="reason" required><br>
        
        <label for="guardian">Tutor (0: Madre, 1: Padre, 2: Otro):</label>
        <input type="number" id="guardian" name="guardian" required><br>
        
        <label for="traveltime">Tiempo de Viaje (1: Menos de 15 minutos, 2: 15 a 30 minutos, 3: 30 minutos a 1 hora, 4: Más de 1 hora):</label>
        <input type="number" id="traveltime" name="traveltime" required><br>
        
        <label for="studytime">Tiempo de Estudio (1: Menos de 2 horas, 2: 2 a 5 horas, 3: 5 a 10 horas, 4: Más de 10 horas):</label>
        <input type="number" id="studytime" name="studytime" required><br>
        
        <label for="failures">Fracasos Pasados (0-4):</label>
        <input type="number" id="failures" name="failures" required><br>
        
        <label for="schoolsup">Apoyo Educativo Extra (0: No, 1: Sí):</label>
        <input type="number" id="schoolsup" name="schoolsup" required><br>
        
        <label for="famsup">Apoyo Educativo Familiar (0: No, 1: Sí):</label>
        <input type="number" id="famsup" name="famsup" required><br>
        
        <label for="paid">Clases Extra Pagadas (0: No, 1: Sí):</label>
        <input type="number" id="paid" name="paid" required><br>
        
        <label for="activities">Actividades Extraescolares (0: No, 1: Sí):</label>
        <input type="number" id="activities" name="activities" required><br>
        
        <label for="nursery">Escuela Infantil (0: No, 1: Sí):</label>
        <input type="number" id="nursery" name="nursery" required><br>
        
        <label for="higher">Desea Educación Superior (0: No, 1: Sí):</label>
        <input type="number" id="higher" name="higher" required><br>
        
        <label for="internet">Acceso a Internet en Casa (0: No, 1: Sí):</label>
        <input type="number" id="internet" name="internet" required><br>
        
        <label for="romantic">En una Relación Romántica (0: No, 1: Sí):</label>
        <input type="number" id="romantic" name="romantic" required><br>
        
        <label for="famrel">Calidad de las Relaciones Familiares (1-5):</label>
        <input type="number" id="famrel" name="famrel" required><br>
        
        <label for="freetime">Tiempo Libre Después de la Escuela (1-5):</label>
        <input type="number" id="freetime" name="freetime" required><br>
        
        <label for="goout">Salir con Amigos (1-5):</label>
        <input type="number" id="goout" name="goout" required><br>
        
        <label for="Dalc">Consumo de Alcohol en Días Laborales (1-5):</label>
        <input type="number" id="Dalc" name="Dalc" required><br>
        
        <label for="Walc">Consumo de Alcohol en Fines de Semana (1-5):</label>
        <input type="number" id="Walc" name="Walc" required><br>
        
        <label for="health">Estado de Salud Actual (1-5):</label>
        <input type="number" id="health" name="health" required><br>
        
        <label for="absences">Número de Ausencias Escolares:</label>
        <input type="number" id="absences" name="absences" required><br>

        <label for="G1">Nota del Primer Período:</label>
        <input type="number" id="G1" name="G1" required><br>
        
        <button type="submit">Predecir</button>
    </form>
    {% if prediction_general is not none %}
        <h2>Probabilidad General de Ser Alcohólico: {{ prediction_general }}%</h2>
    {% endif %}
    {% if error is not none %}
        
    {% endif %}

    </section>
</body>
</html>
